@charset "utf-8";
body{border:0;}
//注册页头部
.re_header_wrap{
    width:100%;
    background:#e8e8e8;
    height:68px;
}
#regiser_header{
    width:50%;
    margin:0 auto;
    overflow: hidden;
    a{
        float: left;
         display: block;
    }
    .img{
        margin-top:10px;
       
    }
    .btn1{
        font-size:19px;
        width:134px;
        height:30px;
        color: #333;
        line-height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-left: 30px;
        border-left: 1px solid #929292; 
        &:hover{
                color:#22ac69;
            }
    }
    .btn2{
        font-size: 14px;
        color: #333;
        float: right;
        margin-top: 26px;
        &:hover{
                color:#22ac69;
            }
    }
}

//注册表单
#re_form{
    width:50%;
    margin:0 auto;
    margin-top: 70px;
    background:#fff;
    height:540px;
    .xy{
        margin-left: 150px;
    }
    .err{
        position: absolute;
        top:44px;
        left:150px;
    }
    h1{
        height:66px;
        border-bottom: 2px solid #F5F5F5;
        font-size: 20px;
        text-align: center;
        line-height: 66px;
        font-weight: 500;
        color:#222;
    }
    span{
//           display: block;
             margin-top: 4px;
             font-size: 12px;
             color:red;
             display: none;
         }
    .all_{
//      border:1px solid red;
         position: relative;
         box-sizing: border-box;
         padding-left: 150px;
         height:80px;
    }
    .xy_{
        height:70px;
        line-height: 70px;
    }
    input{
        display: block;
        border:0;
        border:1px solid #e6e6e6;
        background: 0;
        height:40px;
        color:#bbbccc;
        font-size: 14px;
        border-radius: 4px 4px;
//      margin-left: 150px;
    }
    img{
        position: absolute;
    }
    #tel{
        width:380px;
        text-indent: 46px;
//      margin-top: 70px;
    }
    #pwd{
        width:380px;
        text-indent: 46px;
    }
    #code{
        width:260px;
        text-indent: 20px;
        float: left;
    }
    .btn{
        width:380px;
        background:#22ac69;
        color:#fff;
        font-weight: 700;
        font-size: 18px;
        margin-top:40px;
        margin-left: 150px;
        cursor: pointer;
        height:40px;
        font-size: 14px;
        border-radius: 4px 4px;   
    }
    #agreen{
        display: inline-block;
//      vertical-align: middle;
        float: left;
    }
    .agreen_{
        height:40px;
        line-height: 40px;
        font-size: 12px;   
        color:#959393;   
        margin-left: 198px;
        a{
            color:#22ac69;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .pe{
        left:160px;
        top:12px;
    }
    .pw{
        left:160px;
        top:12px;
    }
    .yzm-spa{
        height:40px;
        border:1px solid #000;
        width:100px;
        float: left;
        margin-left: 18px;
        line-height: 40px;
        text-align: center;
        color:#fa7311;
        cursor: pointer;
    }
}
#bottom{
    height:116px;
    margin-top:38px;
    text-align: center;
    a{
        font-size: 14px;
        color:#828282;
        margin:0 auto;
        display: block;   
    }
    .help{
       display: inline-block;
        border-right: 1px solid #828282;
        height:20px;
        line-height: 20px;
        width:86px; 
        margin-bottom: 20px;
        &:hover{
                color:#22ac69;
            }
    }
    .np{
        border:0;
        margin-bottom: 20px;
        &:hover{
                color:#22ac69;
            }
    }
    img{
        display: inline-block;
        margin:-4px auto;
    }
    p{
        font-size: 14px;
        color:#828282;
    }
    .pl{
        margin-top: 4px;
    }
}
